<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <!-- jss-insertion-point -->
    <base href="/" />
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>

  <body>
    <div id="root"></div>
    <%= htmlWebpackPlugin.tags.bodyTags %>

    <!-- Yandex.Metrika counter -->
  <!--<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(93594925, "init", {
      defer: true,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/93594925" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
  <!-- /Yandex.Metrika counter -->
  </body>
</html>
